HTTP_SERVER = False

API_ID = 
API_HASH = 
BOT_TOKEN = 
BOT_WORKER = 8
BOT_SESSION = "Zaws-File-Share"
BOT_MAX_MESSAGE_CACHE_SIZE = 100

MONGO_DB_URL = mongodb+srv://porusgaming:ajbjcj1@@cluster0.0cvqiv8.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
MONGO_DB_NAME = "Cluster0"

BACKUP_CHANNEL = -1002103543460
ROOT_ADMINS_ID = [6204450961,891528999]
FORCE_SUB_CHANNELS = [-1002130674504, -1002130674504]
PRIVATE_REQUEST = False
PROTECT_CONTENT = True
